* {
    font-family: 'Rhodium Libre', serif;
    scroll-behavior: smooth;
}

#wrapper {
    overflow-x: hidden;
}

#Kasperi {
    color: #2e3941;
    font-size: 25px;
    align-self: flex-start;
}

.tyokuva img {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.nappi {
    justify-content: center;
    align-self: flex-end;
}

.color-container-1 {
    background-color: #fafafa;
}

.color-container-2 {
    background-image: url("../img/Kala.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #2e3941cc;
    background-attachment: fixed;
}

.color-container-3 {
    background-color: #2e3941;
}

.heading-container-1 {
    padding: 100px;
    margin: 0 auto;
    max-width: 1100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

.heading-container-2 {
    padding: 100px;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-md-12.yrittaja{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    justify-content: center;
}

.col-md-12 .row {
    align-items: center;
    width: 100%;
}

.col-md-6{
    padding: 0px !important;
}

.col-md-6.left.etu h2 {
    line-height: 40px;
    color: #2e3941;
    font-size: 20px;
}

.col-md-12.nuoli {
    text-align: center;
    top: -100px;
}

.nuoli img {
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 5px 15px #000;
    transition: transform .2s;
}

.nuoli img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.col-md-12.minusta {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    justify-content: center;
}

.col-md-6 {
    padding: 0px !important;
}

.col-md-6.right.etu img {
    border-radius: 100%;
}

.col-md-6.left h2,
.col-md-12 h2 {
    line-height: 40px;
    color: #fff;
    font-size: 20px;
}

.col-md-6.right ul,
.col-md-12 ul {
    line-height: 20px;
    padding: 0px;
}

.col-md-6.right li,
.col-md-12 li {
    list-style-type: none;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
    text-shadow: 0px 5px 10px #000;
}

.col-md-6.right img {
    margin-right: 20px;
}

.col-md-12.referenssi {
    padding: 0px;
}

.right.refe {
    text-align: center;
}

.right.refe img {
    border-radius: 50px;
    transition: transform .2s;
}

.right.refe img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.li-heading {
    margin-bottom: 20px;
    padding-top: 100px;
}

@media only screen and (max-width: 1200px) {

    .col-md-6.right ul {
        padding: 0;
    }

    .col-md-6.right li {
        font-size: 15px;
    }

    .col-md-6.right.etu {
        height: 325px;
        width: 325px;
    }

}

@media only screen and (max-width: 767px) {

    #Kasperi {
        margin: 0 auto;
        padding: 50px 0px 50px 0px ;
    }

    .li-heading {
        margin-bottom: 0px;
        padding-top: 100px;
    }

    .heading-container-1 {
        padding: 0;
    }

    .heading-container-2 {
        padding: 0;
    }

    .col-md-12 .row {
        flex-direction: column;
    }

    .col-md-12.col-md-12.minusta {
        padding: 0;
    }

    .col-md-12.col-md-12.referenssi {
        padding: 0;
    }
    .col-md-12.col-md-12.referenssi .row {
        margin: 0;
    }

    .col-md-6.left.etu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-md-6.left.etu a {
        text-align: center;
    }

    .col-md-6.right.etu {
        margin-top: 50px;
        height: 300px;
        width: 300px;
    }
    
    .col-md-6.right li,
    .col-md-12 li {
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .col-md-6.right ul,
    .col-md-12 li {
        padding: 0;
    }

    .col-md-6.left h2,
    .col-md-12.right li {
        margin-top: 20px;
        text-align: center;
    }

    .col-md-12 ul {
        padding: 25px;
    }

    #minusta > div > div > div > div.col-md-6.right > ul > li:nth-child(12) {
        text-align: center;
        padding: 0;
    }

    #minusta > div > div > div > div.col-md-6.right > ul > li:nth-child(12) > a {
        margin: 0;
    }

    .col-md-6.right.right.refe li {
        padding: 0;
    }

    .col-md-6.right.right.refe img {
        margin: 0;
        width: 300px;
        margin-bottom: 50px;
    }
}